# Python cache
__pycache__/

# OS files
.DS_Store

real-chrome-codeforces-profile/
backend/real-chrome-codeforces-profile/

node_modules/
test_schema/click_CLI/compare_codeforces_verdicts_CLI.py
.pycache-check